<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Project-Mapper">
			
	<sql id="search">
		
		<if test="searchType == 'n'.toString() ">
			and project_name like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'd'.toString() ">
			and project_discription like '%'||#{keyword}||'%'
		</if>
		
		<if test="status != null and status != 0 ">
			and project_status =  #{status}
		</if>
		
		
	</sql>
	
	<select id="selectProjectNumberBybusinessNumber" resultType="int">
		select project_number
		from project
		where project_business_number = #{business_number}
	</select>
	
	
	
	<select id="selectProjectList"	resultType="project">
		select *
		from project
		where project_number is not null
		<include refid="search" />
		order by project_regdate desc
	</select>
	
	<select id="selectProjectName"	resultType="String">
		select project_name
		from project
		where project_number =#{project_number}
	</select>
	
	
	<select id="selectProjectListByBusinessNumber"	resultType="project">
		select *
		from project
		where project_business_number = #{project_business_number}
	</select>
	
	<select id="selectProjectListByRequireNumber"	resultType="project">
		select *
		from project
		where project_require_number = #{project_require_number}
	</select>
	
	<select id="selectProjectListByProjectStatus"	resultType="project">
		select *
		from project
		where project_status = #{project_status}
	</select>
	
	
	<select id="selectSearchProjectListCount" resultType="int">
		select count(*)
		from project
		where project_number is not null
		<include refid="search" />
		order by project_regdate desc
	</select>
	
	<select id="selectProject"  resultType="project">
		select * 
		from project 
		where project_number=#{project_number}
	</select>
	

	
	<select id="selectProjectSeqNext" resultType="int">
		select project_seq.nextval as project_number from dual
	</select>
	
	<update id="insertProject" parameterType="project">
		insert 
		into 
		project(project_number,project_name,project_status,project_discription,project_business_number,project_member_id,project_regdate)
		values(#{project_number},#{project_name},0,#{project_discription},#{project_business_number},#{project_member_id},sysdate)
	</update>
	
	<update id="updateProjectForProjectStart" parameterType="project">
		update project 
		set project_project_number=#{project_project_number}, project_status=1
		where project_number=#{project_number}
	</update>
	
	<update id="updateProjectForProjectEnd" parameterType="project">
		update project 
		set project_status=2
		where project_number=#{project_number}
	</update>
	
	
	<update id="deleteProject" parameterType="int">
		delete 
		from project 
		where project_number=#{project_number}
	</update>
	
</mapper>







