<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Workreport_Attach-Mapper">
	<select id="selectAttachByWorkreport_number"
		resultType="workreport_attach">
		select *
		from workreport_attach
		where workreport_number = #{workreport_number}
	</select>

	<select id="selectWorkreport_AttachByAno"
		resultType="workreport_attach">
		select *
		from workreport_attach
		where ano=#{ano}
	</select>

	<update id="insertWorkreport_Attach">
		insert into
		workreport_attach (ano, uploadpath, filename, filetype, workreport_number,
		workreport_attach_attacher)
		values (workreport_attach_seq.nextval,
		#{uploadPath}, #{fileName},#{fileType},
		#{workreport_number},#{workreport_attach_attacher} )
	</update>

	<update id="deleteWorkreport_Attach">
		delete from workreport_attach where ano = #{ano}
	</update>

	<update id="deleteAllWorkreport_Attach">
		delete
		from workreport_attach
		where ano = #{ano}
	</update>
	<select id="selectIssue_AttachSeqNext" resultType="int">
		select issue_attach_seq.nextval as ano from dual
	</select>

</mapper>  





