<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Workforce-Mapper">
	
	<sql id="search">
		<if test="searchType == 'i'.toString() ">
			and id like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'n'.toString() ">
			and name like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'p'.toString() ">
			and phone like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'e'.toString() ">
			and email like '%'||#{keyword}||'%'
		</if>
		<if test="project_number != null and project_number != 0 ">
			and workforce_project_number =  #{project_number}
		</if>
		<if test="status != null and status != 0">
			and workforce_status = #{status}
		</if>
		<if test="type != null and type != 0">
			and workforce_type = #{type}
		</if>
	</sql>
	
	
	<select id="selectWorkforceList"	resultType="workforce">
		select *
		from workforce
		where workforce_number is not null
		<include refid="search" />
		order by workforce_regdate desc
	</select>
	
	<select id="selectWorkforceForProject"	resultType="workforce">
		select *
		from workforce
		where workforce_project_number = #{project_number}
	</select>
	
	
	<select id="selectSearchWorkforceListCount" resultType="int">
		select count(*)
		from workforce
		where workforce_number	is not null
		<include refid="search" />
		order by workforce_regdate desc
	</select>
	
	<select id="selectWorkforce"  resultType="workforce">
		select * 
		from workforce 
		where workforce_number=#{workforce_number}
	</select>
	
	<select id="selectWorkforceSeqNext" resultType="int">
		select workforce_seq.nextval as workforce_number from dual
	</select>
	
	<update id="insertWorkforce" parameterType="workforce">
		insert 
		into 
		workforce(workforce_number,workforce_status,workforce_detail,workforce_name,workforce_project_number,workforce_member_id,workforce_regdate, workforce_startdate, workforce_enddate, workforce_type)
		values(#{workforce_number},0,#{workforce_detail},#{workforce_name},#{workforce_project_number},#{workforce_member_id},sysdate, #{workforce_startdate},#{workforce_enddate}, #{workforce_type})
	</update>
	
	<update id="updateWorkforcePlanForProjectStart" parameterType="workforce">
		update workforce 
		set workforce_project_number=#{workforce_project_number}
		where workforce_number=#{workforce_number}
	</update>
	
	<update id="updateWorkforceForProjectEnd" parameterType="workforce">
		update workforce 
		set workforce_status=2
		where workforce_number=#{workforce_number}
	</update>
	
	
	<update id="deleteWorkforce" parameterType="int">
		delete 
		from workforce 
		where workforce_number=#{workforce_number}
	</update>
	
	
	
	
	
</mapper>







