<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Work-Mapper">

	<sql id="search">
		<if test="searchType == 'n'.toString() ">
			and work_number like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 't'.toString() ">
			and work_title like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString() ">
			and work_content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'l'.toString() ">
			and work_level like '%'||#{keyword}||'%'
		</if>
		<if test="member_id != null and memberStatus == 1">
			and work_member_id = #{member_id}
		</if>
		<if test="member_id != null and memberStatus == 2">
			and work_member_id = #{member_id}
		</if>
		<if test="status != null">
			and work_check = #{status}
		</if>
	</sql>

	<select id="selectSearchWorkList" resultType="work">
		select
		*
		from work
		where work_number is not null
		<include refid="search" />
		order by work_regdate desc
	</select>

	<select id="selectSearchWorkListCount" resultType="int">
		select count(*)
		from work
		where work_number is not null
		<include refid="search" />
	</select>

	<select id="selectWorkByWork_Number" resultType="work">
		select
		*
		from
		work
		where work_number=#{work_number}
	</select>

	<update id="insertWork" parameterType="work">
		insert into
		work(work_number, work_project_number,work_member_id, work_check,
		work_regdate, work_enddate,work_member_approver,work_title)
		values(#{work_number},#{work_project_number},#{work_member_id},#{work_check},sysdate,sysdate,#{work_member_approver},#{work_title})
	</update>

	<update id="updateWork" parameterType="work">
		update work
		set
		work_project_number=#{work_project_number},work_check=#{work_check},work_member_approver=#{work_member_approver}
		where work_number=#{work_number},work_title=#{work_title}
	</update>

	<update id="deleteWork">
		delete
		from work
		where work_number=#{work_number}
	</update>
</mapper>  





